.material {
  padding: 0 60px;
}

.material hr {
  margin: 40px 0;
}

/* Tags */

.side-bar {
  padding-right: 40px;
}

.side-bar-item__tag {
  background: #d5eff6;
  margin: 10px 5px 10px 0;
  padding: 0 5px;
  display: block;
}

.material__screenshot {
  border: 1px solid #d1d9db;
  border-radius: 5px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.28);
  margin-bottom: 32px;
  padding: 20px;
}

.material__content {
  max-width: 80%;
}

.side-bar .side-bar-item {
  margin-bottom: 29px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
}

.side-bar-item i {
  color: #6a696b;
}

.copy-to-clipboard .control {
  width: 100%;
}

.copy-to-clipboard__info {
  display: inline-block;
  width: 160px;
  padding-top: 5px;
  text-decoration: underline;
}
