.container {
  padding: 50px 0;
}

.container.blog-post {
  margin-top: 80px;
}

.blog-post {
  padding: 0 60px;
}

.blog-post .github-stars {
  width: 100px;
}

.blog-post .back-button i {
  margin-right: 10px;
}

.blog-post a {
  color: #926cb9;
  margin-right: 10px;
}

.blog-post hr {
  margin: 40px 0;
}

.button.twitter-button {
  background: #b1e0e8;
  color: white;
}

.button.twitter-button i {
  margin-right: 10px;
}

/* Tags */

.column.side-bar {
  padding-right: 40px;
}

.side-bar .tags__tag {
  background: #d5eff6;
  margin: 10px 5px 10px 0;
  padding: 0 5px;
  display: block;
}
.material-screenshot {
  border: 1px solid #d1d9db;
  border-radius: 5px;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.28);
  margin-bottom: 32px;
  padding: 20px;
}

.material__content {
  max-width: 80%;
}

.side-bar .side-bar-item {
  margin-bottom: 29px;
  border-bottom: 1px solid #dedede;
  padding-bottom: 20px;
}
