.category {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* min-height: 300px; */

  /* display: flex; */
  /* justify-content: center; */
}

.category:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.category-container.column {
  display: flex;
}

.category img {
  width: 175px;
  margin: 0;
  padding: 0;
  margin: 0 auto;
}

.content .category h2 {
  margin-bottom: 10px;
}

.category .media-content .subtitle {
  line-height: 1.75;
  text-align: center;
}
