.action-card {
  box-shadow: inset 0 0 0 1px #e1e4e8, 0 2px 4px rgba(0, 0, 0, 0.15);
  margin-bottom: 80px;
  box-sizing: border-box;
  margin: 40px 10px;
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.action-card__container.column {
  display: flex;
}

.action-card:hover {
  cursor: pointer;
}

/* .action-card:before {
  background: #f6f8fa;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #e1e4e8;
  content: '';
  display: block;
  height: 34px;
  left: 50%;
  margin: 0 0 0 -17px;
  position: absolute;
  top: -17px;
  width: 34px;
  z-index: -1;
} */

.action-card span {
  color: #0366d6;
}

.action-card__header {
  background: #f6f8fa;
  padding: 24px 100px 24px 32px;
  border-radius: 6px 6px 0 0;
  box-shadow: inset 0 0 0 1px #e1e4e8;
}

.action-card__body {
  height: 100%;
}

.action-card__body img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 8px transparent;
  height: auto;
  transition: box-shadow 0.2s ease;
  width: 100%;
}

.action-card__body img:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.action-card-icon {
  background: #0366d6;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  text-align: center !important;
  margin: 15px 15px 0 0;
  position: absolute;
  right: 10px;
}

.action-card-icon * {
  top: 50%;
  transform: translateY(50%);
}

.content .action-card__footer h4 {
  margin-top: 10px;
}

.content .action-card__footer h4 {
  margin: 10px 0 0 0;
  padding: 0;
}

.action-card__footer img {
  width: 100px;
  margin-bottom: 0;
}

/* .action-card:after {
  background: #fff;
  bottom: -20px;
  content: '';
  display: block;
  height: 45px;
  left: 50%;
  margin: 0 0 0 -23px;
  position: absolute;
  width: 46px;
  box-shadow: inset 0 0 0 1px #e1e4e8, 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 0;
  border-radius: 50%;
} */

.content .action-card__header h4 {
  margin: 0;
  padding: 0;
}

.action-card__header p {
  font-size: 18px;
}

.browser {
  background: #f7f8f8;
  border: 1px solid #bcbcbc;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  color: #bcbcbc;
  line-height: 0;
  overflow: hidden;
}

.browser .controls {
  background: #fff;
  box-shadow: calc(8px / 2) 0 0 #bcbcbc;
  clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
  padding: calc(8px / 2) calc(8px / 4) 7px calc(8px / 4);
  width: 40px;
}

.browser2 {
  margin-top: 20px;
}

.browser2 img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px solid #bcbcbc;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 0 8px transparent;
  height: auto;
  transition: box-shadow 0.2s ease;
  width: 100%;
}

.browser2 img:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.browser2 .header {
  padding: 10px;
  background: #f1f1f1;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.browser2 .header:after {
  content: '';
  display: table;
  clear: both;
}

.browser2 .dots {
  float: left;
}

.browser2 .dot {
  margin: 4px 4px 0 0;
  height: 12px;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.browser2 .dot:nth-child(1) {
  background: #ed594a;
}

.browser2 .dot:nth-child(2) {
  background: #fdd800;
}

.browser2 .dot:nth-child(3) {
  background: #5ac05a;
}

.browser2 .address-bar {
  width: 75%;
  float: left;
}

.browser2 .address-bar input {
  width: 100%;
  border-radius: 3px;
  border: none;
  background-color: white;
  margin-top: -8px;
  height: 25px;
  color: #666;
  padding: 5px;
  font-size: 0.7em;
}

.browser2__footer {
  text-align: center;
}

.browser2__footer h4 {
  margin: 0;
  padding: 0;
}
